@using App.Models

@model Login
@{
    ViewBag.Title = "Login";
}

<h2>Please enter your details</h2>
<div>
    @using (@Html.BeginForm())
    {
        @Html.LabelFor(u => u.UserName)
        @Html.TextBoxFor(u => u.UserName)
        
        @Html.LabelFor(u => u.UserPassword)
        @Html.TextBoxFor(u => u.UserPassword)
    }
</div>
