@model IEnumerable<WhatDyaThink.Models.Responces>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question.questionText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.responceType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.responceText)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.responceCSS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.responceValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question.questionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.responceType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.responceText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.responceCSS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.responceValue)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.responceID }) |
            @Html.ActionLink("Details", "Details", new { id=item.responceID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.responceID })
        </td>
    </tr>
}

</table>
